body{
    margin: 0;
    padding: 0;
    height: 100vh;
}
.grid-container{
    display: grid;
    height: 100%;
    grid-template-rows: 1.5fr 4fr 3fr 2fr;
    grid-template-columns: 1fr 1.2fr 2fr;
    grid-template-areas: 
    "main main nav"
    "main main icecream"
    "tasty healthy icecream"
    "foother foother icecream" ;
}
main{
    position: relative;
    grid-area:main ;
    background-color: #FCB1B1;
}  
.tasty{
    grid-area: tasty;
    background-color: #80eec2;
} 
.healthy{
    grid-area: healthy;
    background-color: #f0f696;
}
footer{
    grid-area: foother;
    background-color: #f5b5fc;
}
nav{
    position: relative;
    display: flex;
    grid-area: nav;
    background-color: #fff;
}
.icecream{
    background-image: url("img/ice.jpg");
    background-size: cover;
    background-position: center;
    background-color: #ade2ce;
    grid-area: icecream;
}
.logo span{
    font-family: 'Pacifico', cursive;
    color: white;
    font-size: 75px;
    padding: 0 50px;
    cursor: pointer;
}
.text,h5,span{
    font-family: 'lato', sans-serif;
    font-weight: bold;
    color: #444444;
}
.text{
    position: absolute;
    top: 50%;
    transform: translateY(-25%);
    font-size: 25px;
    padding: 0 50px;
}
.tasty,.healthy,footer{
    display: flex;
    justify-content: center;
    align-items: center;
}
footer h5{
    color: white;
}
h5{
    font-size: 30px;
}
.left,.right{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.hamburger>div{
    width: 35px;
    height: 5px;
    background-color: #707070;
    margin: 6px 0;
}
.hamburger>div:nth-child(2){
    background-color: #ade2ce;
}
.right>span{
   color: #fc6363;
}
span{
    font-size: 35px;
}



